<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.bjsxt.mapper.ForexAccountDetailMapper">
  <resultMap id="BaseResultMap" type="com.bjsxt.domain.ForexAccountDetail">
    <!--@mbg.generated generated on Sun Nov 14 17:32:45 CST 2021.-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="account_id" jdbcType="BIGINT" property="accountId" />
    <result column="type" jdbcType="TINYINT" property="type" />
    <result column="amount" jdbcType="DECIMAL" property="amount" />
    <result column="remark" jdbcType="VARCHAR" property="remark" />
    <result column="created" jdbcType="TIMESTAMP" property="created" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated generated on Sun Nov 14 17:32:45 CST 2021.-->
    id, account_id, `type`, amount, remark, created
  </sql>
</mapper>